.foto {
    width: 400px;
}
* {
    margin: 0;
    padding: 0;
}
.nav-bar {
    margin-top: 10px;
    list-style: none;
    background-color: yellowgreen;
}
.list-nav-bar {
    display: inline-block;
    padding-left: 10px;
}
.list-nav-bar a{
color: black;
text-decoration: solid;
}